
body {
    margin-bottom: 80px;
    background-color: beige; 
}

.jumbotron {
    margin-top: 5%;
    width: 100%;
    height: 400px;
    font-family: "Cormorant SC";
    padding: 0;
    border: 2px solid gray;
}

.card {
    margin-top: 20px;
    padding: 0px;  
}

.card-body {
    background-color: rgb(115, 149, 218);
    border: 2px solid gray;
    border-radius: 0px 0px 7px 7px;
   
}

.save {
    padding: 12px;
    margin-left: 9px;
}

.delete {
    padding: 12px;
    margin-left: 9px;
}

.notes {
    padding: 12px;
    margin-left: 9px;
}

.note-delete {
    padding: 12px;
    margin-left: 9px;
}

.card-header {

    border: 2px solid gray;
}

a {
    font-weight: 600;
}