
body { 
    background: url("../images/coffee-1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.jumbotron {
    margin-top: 5%;
    height: 400px;
    font-family: "Cormorant SC";
    padding: 0;
    border: 2px solid gray;
    opacity: .9;
    background: papayawhip;
}

.card {
    margin-top: 20px;
    padding: 0px;
    opacity: .9; 
}

.card-body {
    background-color: papayawhip;
    border: 2px solid gray;
    border-radius: 0px 0px 7px 7px;
   
}

.save {
    padding: 6px;
    margin-left: 9px;
    margin: 6px;
}

.delete {
    padding: 6px;
    margin-left: 9px;
    margin: 6px;
}

.notes {
    padding: 6px;
    margin-left: 9px;
    margin: 6px;
}

.note-delete {
    padding: 6px;
    margin-left: 9px;
    margin: 6px;
}

.card-header {

    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    background-color: lightskyblue;
}

a {
    font-weight: 600;
    font-size: 22px;
}

h1 h3 {
    font-weight: 700;
}

.btn {
    font-weight: 700;
    border: 2px solid gray;
}

h1 {
    font-size: 65px;
}

.link {
    font-size: 28px;
    color: mediumblue;
}

.saved-jumbotron {
height: 200px;
}